@import "tailwindcss";

@theme {
  --font-sans: 'Inter', 'ui-sans-serif', 'system-ui', sans-serif;
  
  --color-primary: #0f172a; /* Slate 900 */
  --color-secondary: #f8fafc; /* Slate 50 */
  --color-accent: #f59e0b; /* Amber 500 */
}

/* Custom Utilities if needed */
@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}